package ${package}.service.${moduleName}.bo;

import lombok.Getter;
import lombok.Setter;
import lombok.ToString;
#if(${hasDatetime})
#if(${usedjdk8TimeType} >0)
import java.time.LocalDateTime;
#else
import java.util.Date;
#end
#end
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * ${comments}BO
 * @author ${author}
 * @create ${datetime}
 */
@Getter
@Setter
@ToString
public class ${className}BO {

    /**
     * id
     */
    private String id;

#foreach ($column in $columns)
#if ($column.attrAname != $pk.attrAname)
    /**
     * $column.comments
     */
    private $column.attrType $column.attrAname;

#end
#end
}

